<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Dashboard</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/main/managernoticle.css}" rel="stylesheet">

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:insert="~{main :: menu}"></div>
    <div th:insert="~{main :: top}"></div>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                公告管理
                <small><a id="crenoticle" th:href="@{/manager/noticle/toWrite}">创建公告</a></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">公告</li>
                <li class="active">公告管理</li>
            </ol>
        </section>
        <div class="container">
            <div id="top">
                <ul>
                    <li onclick="showtab1()">已发布|</li>
                    <li onclick="showtab2()">草稿&nbsp;|</li>
                    <li onclick="showtab3()">回收站&nbsp;|</li>
                </ul>
            </div>
            <div id="tab1">
                <table class="table">
                    <thead>
                    <tr>
                        <td width="50%">标题</td>
                        <td>评论</td>
                        <td>访问量</td>
                        <td>日期</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody id="data1">
                    <tr >
                        <td colspan="8" style="text-align: center">1暂无数据</td>
                    </tr>
                    </tbody>
                </table>
                <div class="tfoor">
                    <div class="tleft" id="fldata1">第1 /0页</div>
                    <div class="trigth" id="frdata1">
                        <ul class="hfoot" >
                            <li>首页</li>
                            <li>上一页</li>
                            <li>下一页</li>
                            <li>尾页</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.2.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
    </footer>
    <div class="control-sidebar-bg"></div>
</div>

<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js" type="text/javascript"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/dist/js/pages/dashboard.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js" type="text/javascript"></script>
<script src="/layer/layer.js"></script>
<script>
    window.onload = function() {
        var status = GetQueryString("status");
        if(status == null){
            showtab1();
        }else{
            if(status == "0"){
                showtab2();
            }else if(status == "1"){
                showtab1();
            }else if(status == "2"){
                showtab3();
            }
        }

    }
    function showtab1(){
        $("#top ul li:eq(0)").css("color","black");
        $("#top ul li:eq(1)").css("color","#3498db");
        $("#top ul li:eq(2)").css("color","#3498db");
        locadNoticle(1,5,1);
    }
    function showtab2(){
        $("#top ul li:eq(0)").css("color","#3498db");
        $("#top ul li:eq(1)").css("color","black");
        $("#top ul li:eq(2)").css("color","#3498db");
        locadNoticle(1,5,0);
    }
    function showtab3(){
        $("#top ul li:eq(1)").css("color","#3498db");
        $("#top ul li:eq(2)").css("color","black");
        $("#top ul li:eq(0)").css("color","#3498db");
        locadNoticle(1,5,2);
    }
    //加载公告
    function locadNoticle(pageno,pagesize,status){
        $.ajax({
            type : "post",
            data : {
                "pageno" : pageno,
                "pagesize" :pagesize,
                "status" : status
            },
            url : "/manager/noticle/locadNoticle",
            success : function(result){
                if(result.success){
                    var page = result.page;
                    var data = page.noticleList;
                    var  content = "";
                    var fleftcontent = "";
                    var frigthcontent = "";
                    if(page.totalsize != 0){
                        $.each(data,function(i,n){
                            content +="<tr>";
                            content +="<td width='50%'>"+n.title+"</td>";
                            content +="<td><span>0</span></td>";
                            content +="<td><span>"+n.access+"</span></td>";
                            content +="<td>"+n.creationtime+"</td>";
                            content += "<td>";
                            if(status == "0"){
                                content += " <button id = 'btn1' onclick='updateStatus(1,"+n.id+")'>发布</button>";
                                content += " <button id='btn2' onclick='window.location.href=\"/manager/noticle/edit?id="+n.id+"\"'>编辑</button>";
                                content += " <button id = 'btn3'onclick='updateStatus(2,"+n.id+")'>丢弃</button>";
                            }
                            if(status == "1"){
                                content += " <button id='btn2' onclick='window.location.href=\"/manager/noticle/edit?id="+n.id+"\"'>编辑</button>";
                                content += " <button id = 'btn3'onclick='updateStatus(2,"+n.id+")'>丢弃</button>";
                            }
                            if(status == "2"){
                                content += " <button id = 'btn1' onclick='updateStatus(0,"+n.id+")'>还原</button>";
                                content += " <button id = 'btn3'onclick='deleteNoticle("+n.id+")'>永久丢弃</button>";
                            }
                            content += "</td>";
                        });
                        $("#data1").html(content);
                        fleftcontent += "第"+page.pageno+"/"+page.totalno+"页";
                        $("#fldata1").html(fleftcontent);
                        frigthcontent += "<ul>";
                        frigthcontent += "<li onclick='locadNoticle(1,5,"+status+")'>首页</li>";
                        if(page.pageno == 1){
                            frigthcontent += "<li>上一页</li>";
                        }else{
                            frigthcontent += "<li onclick='locadNoticle("+(page.pageno-1)+",5,"+status+")'>上一页</li>";
                        }
                        if(page.pageno == page.totalno){
                            frigthcontent += "<li>下一页</li>";
                        }else{
                            frigthcontent += "<li onclick='locadNoticle("+(page.pageno+1)+",5,"+status+")'>下一页</li>";
                        }
                        frigthcontent += "<li onclick='locadNoticle("+page.totalno+",5,"+status+")'>尾页</li>";
                        frigthcontent += "</ul>";
                        $("#frdata1 ul").html(frigthcontent);
                    }else{
                        var content = "<tr>";
                        content += "<td colspan=\"8\" style=\"text-align: center\">暂无数据</td>";
                        content += " </tr>";
                        $("#data1").html(content);

                        var fleftcontent = "第1/0页";
                        $("#fldata1").html(fleftcontent);
                        var frigthcontent = "<ul>";
                        frigthcontent += "<li >首页</li>";
                        frigthcontent += "<li >上一页</li>";
                        frigthcontent += "<li >下一页</li>";
                        frigthcontent += "<li >尾页</li>";
                        frigthcontent += "</ul>";
                        $("#frdata1 ul").html(frigthcontent);
                    }

                }
            }
        });
    }
    //更新状态
    function updateStatus(status,id){
      $.ajax({
          type : "post",
          data : {
              "id" : id,
              "status" : status
          },
          url : "/manager/noticle/updateStatus",
          success : function(result){
              if(result.success){
                  layer.msg("操作成功！", {time: 5000, icon: 6});
                  window.location.href="/manager/noticle/toManagerNoticle?status="+status;
              }else{
                  layer.msg("操作失败！", {time: 2000, icon: 5,shit:6});
              }
          }
      });
    }
    //删除公告
    function deleteNoticle(id){
        $.ajax({
            type : "post",
            data :{
                "id" : id
            },
            url  : "/manager/noticle/deleteNoticle",
            success : function(result){
                if(result.success){
                    layer.msg("删除公告成功！", {time: 4000, icon: 6});
                    window.location.href="/manager/noticle/toManagerNoticle?status=2";
                }else{
                    layer.msg(result.message, {time: 2000, icon: 5, shift: 6});
                }
            }
        });
    }
    //获取请求地址的参数
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>
</body>
</html>
