<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>余笙博客 | 个人资料</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/main/profile.css}" rel="stylesheet">

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:insert="~{main :: menu}"></div>
    <div th:insert="~{main :: top}"></div>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                个人资料
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">用户</li>
                <li class="active">个人资料</li>
            </ol>
        </section>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: white">
                    <ul>
                        <li onclick="tab1()"><span>基本资料</span></li>
                        <li onclick="tab2()"><span>密码修改</span></li>
                    </ul>
                </div>
                <div class="panel-body" id="body1">
                <form action="" enctype="multipart/form-data" id="inforamationForm" method="post">
                    <div class="formgroup">
                        <input type="hidden" id="memberid" name="id" value="">
                        <label>当前角色:</label>
                        <label id="role"></label>
                    </div>
                    <div class="formgroup">
                        <label>账号:</label>
                        <input type="text" id="loginacct" name="loginacct">
                    </div>
                    <div class="formgroup">
                        <label>用户名:</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div class="formgroup">
                        <label>邮箱:</label>
                        <input type="text" id="email" name="email">
                    </div>
                    <div class="formgroup">
                        <label>头像:</label>
                        <input type="file" style="display: none" id="selectfile" name="selectfile">
                        <input type="text" style="width: 26%" id="headimage">
                        <input type="button" id="selectedbtn"  value="选择">
                    </div>
                    <div class="formgroup">
                        <label>个人说明:</label>
                       <textarea id="personalnote" name="personalnote"></textarea>
                    </div>
                </form>
                </div>
                <div class="panel-body" id="body2">
                    <div class="formgroup">
                        <label>原密码:</label>
                        <input type="password" id="Originalpassword">
                    </div>
                    <div class="formgroup">
                        <label>新密码:</label>
                        <input type="password" id="newpassword">
                    </div>
                    <div class="formgroup">
                        <label>确认密码:</label>
                        <input type="password" id="confirmpassword">
                    </div>
                </div>
                <div class="panel-footer" style="background: white" id="foot1">
                    <button id="savebtn">保存</button>
                </div>
                <div class="panel-footer" style="background: white" id="foot2">
                    <button id="updatebtn">修改</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery 2.1.4 -->
<script src="/jquery/jQuery-2.1.4.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script type="text/javascript">
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.2 JS -->
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Morris.js charts -->
<script src="/https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="plugins/morris/morris.min.js" type="text/javascript"></script>
<!-- Sparkline -->
<script src="/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- jvectormap -->
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
<!-- jQuery Knob Chart -->
<script src="/plugins/knob/jquery.knob.js" type="text/javascript"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
<script src="/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- datepicker -->
<script src="/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
<!-- Slimscroll -->
<script src="/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js" type="text/javascript"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/dist/js/pages/dashboard.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js" type="text/javascript"></script>
<script src="/layer/layer.js"></script>
<script src="/jquery/jquery.form.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>
