<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>余笙博客 | 用户维护</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/main/usermanagement.css" rel="stylesheet">

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:insert="~{main :: menu}"></div>
    <div th:insert="~{main :: top}"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                用户维护
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">用户</li>
                <li class="active">用户维护</li>
            </ol>
        </section>
        <div class="container" >
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading" style="background: white"><span class="glyphicon glyphicon-th"></span>用户列表</div>
                <div class="panel-body">
                    <div id="search">
                        <form class="form-inline" style="float:left;">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-addon">查询条件</div>
                                    <input class="form-control has-success" type="text" placeholder="请输入查询条件" name="keycode" id="keycode">
                                </div>
                            </div>
                            <button type="button" class="btn btn-warning" onclick="search()"><i class="glyphicon glyphicon-search"></i> 查询</button>
                        </form>
                        <button type="button" class="btn btn-primary" style="float:right;" onclick="addBtn()"><i class="glyphicon glyphicon-plus"></i> 新增</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th width="2%">#</th>
                                <th width="21%">账号</th>
                                <th width="21%">名称</th>
                                <th width="21%">邮箱地址</th>
                                <th width="21">创建时间</th>
                                <th width="14%">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" id="panel2" style="display: none">
                <div class="panel-heading" style="background: white"><span class="glyphicon glyphicon-user"></span>添加用户
                    <button type="button" class="btn btn-danger" style="float:right;padding: 2px" onclick="unadd()"><i class=" glyphicon glyphicon-remove"></i>取消添加</button>
                </div>
                <div class="panel-body">
                    <div class="formgroup">
                        <label>账号:</label>
                        <input type="text" id="floginacct" name="loginacct">
                    </div>
                    <div class="formgroup">
                        <label>用户名:</label>
                        <input type="text" id="fusername" name="username">
                    </div>
                    <div class="formgroup">
                        <label>邮箱:</label>
                        <input type="text" id="femail" name="email">
                    </div>
                    <div class="formgroup">
                        <label>密码:</label>
                        <input type="password" id="fuserpswd1" name="fuserpswd1">
                    </div>
                    <div class="formgroup">
                        <label>确认密码:</label>
                        <input type="password" id="fuserpswd2" name="fuserpswd2">
                    </div>

                    <div class="formgroup">
                        <button type="button" class="btn btn-primary" style="float:left;margin-right:10px;" onclick="add()"><i class="glyphicon glyphicon-plus"></i> 新增</button>
                        <button type="button" class="btn btn-danger" style="float:left;" onclick="clearText()"><i class=" glyphicon glyphicon-remove"></i>清空</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel3" style="display: none">
                <div class="panel-heading" style="background: white"><span class="glyphicon glyphicon-pencil"></span>修改用户
                    <button type="button" class="btn btn-primary" style="float:right;padding: 2px" onclick="goback()"><i class="glyphicon glyphicon-log-out"></i>返回</button>
                </div>
                <div class="panel-body">
                    <input type="hidden" id="memberid">
                    <div class="formgroup">
                        <label>账号:</label>
                        <input type="text" id="uloginacct" name="loginacct" readonly>
                    </div>
                    <div class="formgroup">
                        <label>用户名:</label>
                        <input type="text" id="uusername" name="username">
                    </div>
                    <div class="formgroup">
                        <label>邮箱:</label>
                        <input type="text" id="uemail" name="email">
                    </div>
                    <div class="formgroup">
                        <button type="button" class='btn btn btn-success' style="float:left;margin-right:10px;" onclick="update()"><i class="glyphicon glyphicon-pencil"></i> 修改</button>
                        <button type="button" class="btn btn-danger" style="float:left;" onclick="reductionBtn()"><i class=" glyphicon glyphicon-remove"></i>还原</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="/jquery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js" type="text/javascript"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/dist/js/pages/dashboard.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js" type="text/javascript"></script>
<script src="/layer/layer.js"></script>
<script src="/js/usermanagement.js"></script>
</body>
</html>
