
body{
    background: #eee;
}
img{
    border-radius: 4px;
}
li{
    list-style-type: none;
}
/*头部登录链接*/
.col-lg-12{
    height: 30px;
    background: #eee;
}
.top{
    display: block;
    margin-top: 5px;
}
/*大屏幕*/
@media screen and (min-width:1200px) {
    .dropdown ul {
        display: none;
    }
    .dropdown:hover ul {
        display: block;
    }
}
/*导航条字体*/
.navbar-brand,.navbar-default .navbar-nav>li>a {
    color: white!important;
}
.navbar-nav>.open>a{
    background-color:#FF6666!important;
}
.navbar-nav>.open>a:hover {
    color: #555;
    background-color:#FF6666!important;
}
.active>a{
    background-color:#FF6666!important;
}
.navbar-nav>li>a:hover{
    background-color:#FF6666!important;
}
.navbar-nav>li>span{
    color: white!important;
    padding: 17px;
    display: block;
}
.navbar-nav>li>span:hover{
    background-color:#FF6666!important;
}
#speedbar{
    height: 40px;
    background: #fbfbfb;
}
#toptip{
    float: left;
}
#toptip span i{
    padding-left: 20px;
    line-height: 40px;
    color: #0099CC;
}
#toptip span{
    color: #666;
    clear: both;
}
#pullrigth{
    float: right;

}
#pullrigth span i{
    line-height: 40px;;
    color: #0099CC;
}
#pullrigth span a{
    color: #666;
    clear: both;
    padding-right: 10px;
    position: relative;
}
#pullrigth span a:hover {
    color: #FF6666;
    cursor: pointer;
    text-decoration: none;
}
#pullrigth input{
    margin-right: 15px;
    height: 40px;
    width: 265px;
    position: absolute;
    right: 0px;
    z-index: 500;
    opacity: 0.9;
    outline: none;
    display: none;
}
#pullrigth span img{
    width: 30px;
    height: 30px;
    border-radius: 90px;
    margin-top: 5px;
    border: 1px solid #0099CC;
}
#pullrigth span img:hover{
    border: 1px solid #FF6666;
}
.dropdown-menu{
    margin: 0px;
    width: 100px;
    opacity:0.8;
}
.dropdown-menu li{
    width: 100%!important;
    height: 40px;
    border-bottom: 1px solid #bdc3c7;

}
.dropdown-menu li a{
    display: block;
    height: 39px;
    padding-top: 10px;
}

/*通知*/
.notice{
    background: white;
}
/*轮播*/
#myCarousel{
    margin-bottom: 15px;
}

/*文章展示*/
.excerpt{
    height: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background: white;
    margin-bottom: 10px;
    overflow: hidden;
}
/*文章标题*/
header{
    margin-bottom: 10px;
}
/*标签*/
.label{
    background: #e74c3c;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;

}
i{
    margin-left: -8px;
    font-size: 4px;
    color: #e74c3c;
}
/*文章标题*/
.arcitle-title{
    padding-top: 10px;
    font-size: 20px;
    font-family: "微软雅黑";
    color:  #0099CC;

}
.arcitle-title:hover{
    color: #FF6666;
    text-decoration: none;
}
.focus{
    width: 200px;
    height:136px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 5px;
}
.focus img{
    width: 200px;
    height: 136px;
    border-radius: 5px;
}
.note{
    display: block;
    font-size: 15px;
    height:136px;
    line-height: 22px;
    overflow: hidden;
    color: #777;
}
.excerpt p{
    float: right;

}
.excerpt p span{
    margin-right: 5px;
    margin-right: 20px;
}
.excerpt p a{
    float: right;
    margin-left: 5px;
    color: #777;
}
.excerpt p:hover a{
    float: right;
    margin-left: 5px;
    color: #777;
    text-decoration: none;
}
.excerpt img{
    transition: 1s;
}
.excerpt:hover img{
    transform: scale(1.2);

}
/*右边面板*/
.panel-default{
    border: 0px;
}
.panel-heading{
    color:  #0099CC!important;
    background: white!important;
    border-bottom:1px solid  #ddd !important ;
}
.panel-body ul{
    padding: 0px;
    margin: 0px;
}
.panel-body ul li{
    list-style: none;
    margin-bottom: 10px;
}
.panel-body ul li a{
    font-size: 10px;
    line-height: 22px;
    color: #777;
}
.panel-body ul li a:hover{
    text-decoration: none;
    color: #FF6666;
}
.panel-body .label-1{
    background: #e74c3c;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.panel-body .label-2{
    background: #6fc299;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.panel-body .label-3{
    background: #81c1f2;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.panel-body .label-4{
    background: #999;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.about-img{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}
.about-img img{
    height: 100px;
    width: 100px;
    border-radius: 4px;
}
h2{
    font-size: 20px;
    margin: 0px;
    color:  #0099CC;
    margin-bottom: 8px;
}
/*关于本站*/
.about-font{
    font-size: 10px;
    line-height: 22px;
    color: #777;
}
.about-article{
    width: 50%;
    height: 40px;
    display: block;
    float: left;
    border-right: 1px solid #ddd;
    text-align: center;
    line-height: 40px;
}
.about-comment{
    width: 50%;
    height: 40px;
    display: block;
    float: right;
    text-align: center;
    line-height: 40px;
}
.about-inf{
    width: 100%;
    height: 40px;
    border-top: 1px solid #ddd;

}
.panel-default{
    border: 0px;
}
.panel-heading{
    color:  #0099CC!important;
    background: white!important;
    border-bottom:1px solid  #ddd !important ;
}
.panel-body ul{
    padding: 0px;
    margin: 0px;
}
.panel-body ul li{
    list-style: none;
    margin-bottom: 10px;
}
.panel-body ul li a{
    font-size: 10px;
    line-height: 22px;
    color: #777;
}
.panel-body ul li a:hover{
    text-decoration: none;
    color: #95a5a6;
}
.panel-body .label-1{
    background: #e74c3c;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.panel-body .label-2{
    background: #6fc299;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.panel-body .label-3{
    background: #81c1f2;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.panel-body .label-4{
    background: #999;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}


/*标签库*/
.label-button button{
    background: white;
    border: 1px solid  #0099CC;
    border-radius: 4px;
    color: #777;
    margin-bottom: 10px;
}
.label-button button:hover{
    background:#FF6666 ;
    color: white;
}
/*猜你喜欢*/
.like{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    height: 78px;

}
.like-1{
    width: 80px;
    height: 64px;
    display: block;
    float: left;
    margin-right: 10px;
}
.like-1 img{
    width: 80px;
    height: 64px;
    border-radius: 4px;
}
.like-2{
    height: 50px;
    display: block;
}
.like-2 a{
    display: block;
    color: #0099CC!important;
}
.like-2 a:hover{
    display: block;
    color: #FF6666!important;
}
.like-3{
    color: #999;
}
.like-4{
    color: #999;
}

/*页脚*/
.footer{
    height: 80px;
    background: #333;
}
/*小屏幕*/
@media only screen and (max-width: 768px) {
    .col-lg-3{
        display: none;
    }
    .item{
        height: 180px;
    }
    .focus{
        width: 100px;
        height: 68px;
    }
    .focus img{
        width: 100px;
        height: 68px;
    }
    .arcitle-title{
        font-size: 15px;
    }
    /*标签*/
    .label{
        font-size: 15px;
    }
    .excerpt{
        height: 150px;
    }
    .note{
        height: 68px;
        overflow: hidden;
        font-size: 5px;
    }
    .excerpt p{
        display: none;
    }
    /*导航条*/
    .dropdown-menu>li>a{
        color: white!important;
    }
}
@media screen and (min-width: 768px) and (max-width:991px ){
    .col-lg-3{
        display: none;
    }
    #search{
        display: none!important;
    }
    #nav-searchbtn{
        display: none!important;
    }

}
@media screen and (max-width: 992px) and (min-width: 768px){
    .col-lg-3{
        display: none;
    }
}