<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>余笙博客 | 附件管理</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <link th:href="@{/assets/css/main/attachment.css}" rel="stylesheet">

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:insert="~{main :: menu}"></div>
    <div th:insert="~{main :: top}"></div>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                附件管理
                <small><a id="crenoticle">上传附件</a></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">附件</li>
                <li class="active">附件管理</li>
            </ol>
        </section>
        <div class="container">
            <div class="search">
                <input type="text" placeholder="搜索附件文件" id="search">
            </div>
            <div class="enclosure">
                <ul>

                </ul>
            </div>
        </div>
        <!--上传附件-->
        <div id="uploadfile">
            <div class="panel panel-default">
                <div class="panel-heading">上传附件<span style="float: right" class="off">X</span></div>
                <div class="panel-body">
                    <div id="contentleft">
                        <img src="" id="img0" height="270px">
                    </div>
                    <div id="contentrigth">
                        <button id="upload">上传文件</button>
                        <button id="remover">移除文件</button>
                    </div>
                    <div id="selectfile">
                        <form action="" id="fileform" enctype="multipart/form-data" method="post">
                            <input type="file" style="display: none" id="file0" name="upfile" >
                        </form>

                        <input type="text" id="selecturl" placeholder=" 请选择文件">
                        <button id="selectbtn">选择文件</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="detailfile">
            <div class="panel panel-default">
                <div class="panel-heading">附件详情<span style="float: right" class="off">X</span></div>
                <div class="panel-body">
                    <div id="leftdetail">
                        <img src="">
                    </div>
                    <div id="rigthdetail">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background: white">附件详情</div>
                            <div class="panel-body">
                                <div class="formgroup">
                                    <label>附件名:</label>
                                    <input type="hidden" readonly="readonly" id="pictureid">
                                    <input type="text" readonly="readonly"  id="name">
                                </div>
                                <div class="formgroup">
                                    <label>附件类型:</label>
                                    <input type="text" readonly="readonly" id="filetype">
                                </div>
                                <div class="formgroup">
                                    <label>附件路径:</label>
                                    <input type="text" readonly="readonly" id="filepath">
                                </div>
                                <div class="formgroup">
                                    <label>上传时间:</label>
                                    <input type="text" readonly="readonly" id="createtime">
                                </div>
                                <div class="formgroup">
                                    <label>附件大小:</label>
                                    <input type="text" readonly="readonly" id="size">
                                </div>
                            </div>
                            <div class="panel-footer" style="background: white">
                                <button id="repicutue">永久删除</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/jquery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js" type="text/javascript"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/dist/js/pages/dashboard.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js" type="text/javascript"></script>
<script src="/layer/layer.js"></script>
<script src="/js/attachment.js"></script>
</body>
</html>
