<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>余笙博客 | 正文</title>

    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
    <link href="assets/css/potal/article.css" th:href="@{/assets/css/potal/article.css}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default navbar-color" role="navigation" style="background: #0099CC;margin-bottom: 0px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">余笙博客</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav" id="nav">
                <li><a href="/">首页</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right"  id="nav-searchbtn">
                <li class="active" onclick="search()"><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 20px" >
            <div id="speedbar">
                <div id="toptip">
                    <span><i class="glyphicon glyphicon-volume-up"></i> 欢迎来访~</span>
                </div>
                <div id="pullrigth">
                    <input type="text" id="search">
                    <div th:if="${session.member == null}">
                        <span><i class="glyphicon glyphicon-user"></i><a href="/toLogin"> 登陆</a></span>
                        <span><i class="glyphicon glyphicon-leaf"></i><a href="/toRegister"> 注册 </a></span>
                    </div>
                    <div th:if="${session.member != null}">
                        <span> <img  th:src="@{/image/pic/{image}(image=${session.member.image})}" width="20px" height="20px" onclick="window.location.href='/main'"></span>
                        <span><a href="/doLogout"> 退出登录 </a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div id="content">
                <div id="content-top">
                    <a href="/" title="返回首页">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                    <small>&nbsp;>&nbsp;</small>
                </div>
                <div id="content-title">

                </div>
                <div id="content-content" style="padding: 10px 10px 10px 10px">

                </div>
                <div id="content-like">
                    <div class="fabulous">
                        <span class="bt1 glyphicon glyphicon-thumbs-up">
                            <small>111</small>
                        </span>

                    </div>
                    <div class="love">
                        <span class="bt2 glyphicon glyphicon-heart">
                              <small>111</small>
                        </span>
                    </div>
                </div>
                <div id="content-footer">
                    <div id="content-footer-label">
                        <span class="glyphicon glyphicon-tag spantag"></span>

                    </div>
                    <div id="content-footer-article">
                        <span class="last">

                        </span>
                        <span class="next">

                        </span>
                    </div>
                </div>

            </div>
            <div id="recommend">
                <ul>

                </ul>
            </div>
            <div id="comment">

                <input type="hidden" id="coordinate">
                <li id="append">
                <div id="comment-top" >
                    <span th:if="${session.member != null}">
                        <img  th:src="@{/image/pic/{image}(image=${session.member.image})}" width="30px" height="30px">
                    </span>
                    <span th:unless="${session.member != null}">
                        <img  src="/image/3.png" width="30px" height="30px">
                    </span>
                    <span th:if="${session.member != null}">
                        <a href="/main" th:text="${session.member.username}"> </a>快来发表你的评论吧
                        <input type="hidden" th:value="${session.member.id}" id="memberid">
                    </span>
                    <span th:unless="${session.member != null}"><a href="toLogin">登录</a>发表我的意见吧</span>
                    <span id="cancel">取消评论</span>
                </div>
                <div id="comment-middle">
                    <textarea id="commentContent"></textarea>
                    <small>写点什么...</small>
                </div>
                <div id="comment-submit">
                    <button id="submit" onclick="submitComment()">
                        <span class="glyphicon glyphicon-edit"></span>
                        提交评论
                    </button>
                </div>
                </li>
                <div id="conmun">
                    目前评论 <span>0</span>
                </div>
                <div id="comment-comment">
                    <input type="hidden" id="becomment">
                    <input type='hidden' id='ppid'>
                    <ul>

                    </ul>
                </div>

            </div>
            <input type="hidden" id="pageno" name="1">
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-align-justify"></span> 热门排行</div>
                <div class="panel-body">
                    <ul id="popular">

                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-align-justify"></span> 标签库</div>
                <div class="panel-body label-button" id="label">

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-align-justify"></span> 猜你喜欢</div>
                <div class="panel-body">
                    <ul id="like">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>
<script src="/jquery/jQuery-2.1.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/layer/layer.js"></script>
<script src="/js/article.js"></script>
</body>
</html>
