<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT博客 || 忘记密码</title>
    <link href="/assets/css/potal/login.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <img src="http://img.php.cn/upload/course/000/000/004/58144f924a5da186.gif" width=100% height=30%>
    <h4>找回密码</h4>
    <p>
        新密码将会通过邮件发送给您。
    </p>
    <p>
        <input type="text" placeholder="请输入账号" id="floginacct">
    </p>
    <p>
        <input type="text" placeholder="请输入邮箱" id="femail">
    </p>

    <p>
        <button id="obtain" >获取新密码</button>
    </p>
    <p>
        <a href="/toLogin">返回登录界面</a>
    </p>
</div>
</body>

<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/layer/layer.js"></script>
<script src="/jquery/jquery.form.js"></script>
<script>
    $("#obtain").click(function(){
        var floginacct = $("#floginacct");
        var femail = $("#femail");
        var myreg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
        if(floginacct.val() == ""){
            layer.msg("请输入登录账号！", {time:1000, icon:5, shift:6});
            floginacct.focus();
            return false;
        }
        if(femail.val() == ""){
            layer.msg("请输入邮箱！", {time:1000, icon:5, shift:6});
            femail.focus();
            return false;
        }else{
            if(!myreg.test(femail.val())){
                layer.msg("邮件格式不正确，请输入正确的邮箱！", {time:1500, icon:5, shift:6});
                femail.val("");
                femail.focus();
                return false;
            }
        }
        $.ajax({
            type: "post",
            data : {
                "loginacct" : floginacct.val(),
                "email" : femail.val(),
            },
            url :"/doForget",
            beforeSend: function() {
                loadingIndex = layer.msg('正在发送邮件！', {icon: 16});
            },
            success : function(result){
                layer.close(loadingIndex);
                if(result.success){
                    layer.msg("邮件发送成功，请注意邮箱的动态！", {time:2000, icon:6});

                }else{
                    layer.msg(result.message, {time:1500, icon:5, shift:6});
                }
            }

        });
    });
</script>
</html>