<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>博客首页</title>

    <link href="/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
    <link href="/assets/css/potal/index.css" rel="stylesheet">

</head>
<body>
</div>
<nav class="navbar navbar-default navbar-color" role="navigation" style="background: #0099CC;margin-bottom: 0px">
    <div class="container">
        <div class="row">
                <div class="navbar-header" style="margin-left: 15px">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">个人博客</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav" id="nav">
                        <li class="active"><a href="#">首页</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 0px" id="nav-searchbtn">
                        <li class="active" onclick="search()"><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    </ul>
                </div>

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 20px" >
            <div id="speedbar">
                <div id="toptip">
                    <span><i class="glyphicon glyphicon-volume-up"></i> 欢迎来访~</span>
                </div>
                <div id="pullrigth">
                    <input type="text" id="search">
                    <span><i class="glyphicon glyphicon-user"></i><a href="/toLogin"> 登陆</a></span>
                    <span><i class="glyphicon glyphicon-leaf"></i><a href="/toRegister"> 注册 </a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12">
            <!--轮播-->
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="width: 100%">
                    <div class="item active" style="background:#223240;">
                        <img src="/image/2.jpg" alt="first img" style="width: 100%;height: 300px">
                        <!--图片不居中，让图片居中给这个img设置margin:0 auto-->
                    </div>
                    <div class="item" style="background:#F5E4DC;">
                        <img src="/image/1.jpg" alt="second img" style="width: 100%;height: 300px">
                    </div>
                    <div class="item" style="background:#DE2A2D;">
                        <img src="/image/2.jpg" alt="third img" style="width: 100%;height: 300px">
                    </div>
                </div>
                <a href="#myCarousel" data-slide="prev" class="carousel-control left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#myCarousel" data-slide="next" class="carousel-control right">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

            <input type="hidden" id="pageno" name="1">
        </div>
        <div class="col-lg-3 col-md-4" th:fragment="menu">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-align-justify"></span> 本站简介</div>
                <div class="panel-body">
                    <div class="about-img">
                        <img src="/image/1.jpg">
                    </div>
                    <h2>博客初心</h2>
                    <span class="about-font">言曌博客，个人程序人生的点滴记录和时光储备。淡泊明志，宁静致远。珍惜原创，矢志不渝。</span>

                </div>
                <div class="about-inf">
                    <span class="about-article">文章 808</span>
                    <span class="about-comment">留言 1836</span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-align-justify"></span> 热门排行</div>
                <div class="panel-body">
                    <ul id="popular">
                        <li>
                            <span class="label-1">1</span>
                            <a href="#">Python2爬虫学习系列教程</a>
                        </li>
                        <li>
                            <span class="label-2">2</span>
                            <a href="#">七分钟全面了解位运算</a>
                        </li>
                        <li>
                            <span class="label-3">3</span>
                            <a href="#">Python3爬虫视频学习教程</a>
                        </li>
                        <li>
                            <span class="label-4">4</span>
                            <a href="#">Python爬虫入门一之综述</a>
                        </li>
                        <li>
                            <span class="label-4">5</span>
                            <a href="#">Python爬虫入门三之Urllib库基本使用</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-align-justify"></span> 标签库</div>
                <div class="panel-body label-button" id="label">
                   <!-- <button>asdad</button>-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-align-justify"></span> 猜你喜欢</div>
                <div class="panel-body">
                    <ul id="like">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>
<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>

    window.onload=function(){
        loadNav();
        loadArticle(1,5);
        loadPopular();
        loadLabel();
        loadLike();
    }
    //加载导航条
    function loadNav(){
        $.ajax({
            type:"post",
            url: "/loadNav",
            success : function(result){
                if(result.success){
                    var data = result.typeList;
                    var content = "";
                    $.each(data,function(i,n){
                        if(n.typeList.length != 0){
                           content += " <li class='dropdown'>";
                           content += "<a href='"+n.url+"?id="+n.id+"' class='dropdown-toggle' data-toggle='dropdown'>";
                           content +=n.name+ "<b class='caret'></b>";
                           content += " </a>";
                           content += "<ul  class='dropdown-menu'>";
                           $.each(n.typeList,function(i,b){
                                content += "<li><a href='"+b.url+"?id="+b.id+"'>"+b.name+"</a></li>";
                            });
                           content += "</ul>";
                           content += "</li>";
                        }else{
                            content += "<li><a href='"+n.url+"?id="+n.id+"'>"+n.name+"</a></li>";
                        }
                    });
                    content += "<li><a href='/message'>留言</a></li>";
                    $("#nav").append(content);
                }else{
                    alert("系统异常！");
                }
            }
        })
    }
    //加载文章
    function loadArticle(pageno,pagesize){
        $.ajax({
            type:"post",
            data : {
                "pagesize" : pagesize,
                "pageno" : pageno,
                "keycode" : null
            },
            url : "/loadArticle",
            success : function(result){
                if(result.success){
                    var page = result.page;
                    var data = page.articleResults;
                    var content = "";
                    $.each(data,function(i,n){
                        content +='<div class="excerpt">';
                        content +='            <header>';
                        content +='                <a class="label">'+n.classification.name+'</a>';
                        content +='                <i class="glyphicon glyphicon-triangle-right"></i>';
                        content +='                <a href="/article?id='+n.id+'" class="arcitle-title" title='+n.title+'>';
                        content +='                    '+n.title+'';
                        content +='                </a>';
                        content +='            </header>';
                        content +='            <div class="focus">';
                        content +='                <a href="">';
                        content +='                    <img src="/image/thumbnail/'+n.picture.iconpath+'">';
                        content +='                </a>';
                        content +='            </div>';
                        content +='            <span class="note">'+n.content+'';
                        content +='                </span>';
                        content +='            <p>';
                        content +='                <span class="glyphicon glyphicon-user" style="color: #0099CC"><a style="color: #0099CC" href="/author?id='+n.memberid+'">'+n.username+' </a></span>';
                        /*content +='                <span class="glyphicon glyphicon-time"><a>'+n.creationtime+' </a></span>';*/
                        content +='                <span class="glyphicon glyphicon-eye-open" style="color: #95a5a6"><a>'+n.access+'浏览 </a></span>';
                        content +='                <span class="glyphicon glyphicon-comment" style="color: #95a5a6"><a>'+n.comnum+'评论 </a></span>';
                        content +='                <span class="glyphicon glyphicon-heart" style="color: #FF6666"><a >'+n.likenum+'喜欢 </a></span>';
                        content +='            </p>';
                        content +='</div>';
                    });
                    //记录当前页
                    $("#pageno").val(page.pageno);
                    $(".col-lg-9").append(content);
                }
            }
        })
    }
    //滚动条
    $(window).scroll(function() {
        if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
            var pageno = $("#pageno").val();
            pageno =  parseInt(pageno)+1;
            loadArticle(pageno,5);
             $("#pageno").val(pageno+1);
    }
    });
    //热门排行
    function loadPopular(){
        $.ajax({
            type : "post",
            url : "/loadPopular",
            success : function(result){
                if(result.success){
                    var data = result.articleList;
                    var content = "";
                    $.each(data,function(i,n){
                        content += " <li>";
                        if(i == 0){
                            content += " <span class='label-1'>"+(i+1)+"</span>";
                        }else if(i == 1){
                            content += " <span class='label-2'>"+(i+1)+"</span>";
                        }else if(i == 2){
                            content += " <span class='label-3'>"+(i+1)+"</span>";
                        }else{
                            content += " <span class='label-4'>"+(i+1)+"</span>";
                        }
                        content += "  <a href='/article?id="+n.id+"'>"+n.title+"</a>";
                        content += " </li>";
                    });
                    $("#popular").html(content);
                }
            }
        })
    }
    //标签库
    function loadLabel(){
        $.ajax({
            type: "post",
            url: "/loadLabel",
            success: function (result) {
                if (result.success) {
                    var data = result.ldata;
                    var content = "";
                    $.each(data, function (i, n) {
                        content += " <button onclick='toTag("+n.id+")'>" + n.name + "</button>";
                    });
                    $("#label").html(content);
                }
            }
        })
    }
    function toTag(id){
        window.location.href="/tag?id="+id;
    }
    //猜你喜欢
    function loadLike(){
        $.ajax({
            type : "post",
            url : "/loadLike",
            success :function(result){
                if(result.success){
                    var data = result.articleResults;
                    var content = "";
                    $.each(data,function(i,n){
                        content += " <li class='like'>";
                        content += " <span class='like-1'>";
                        content += " <img src='/image/thumbnail/"+n.picture.iconpath+"'>";
                        content += " </span>";
                        content += " <span class='like-2'>";
                        content += " <a href='/article?id="+n.id+"'>"+n.title+"</a>";
                        content += " </span>";
                        content += " <span class='like-3'>"+n.creationtime+"</span>";
                        content += " <span class='like-4'>"+n.likenum+"喜欢</span>";
                        content += " </li>";
                    });
                    $("#like").html(content);
                }
            }
        })
    }
    function  search() {
        var display =$('#search').css('display');
        if(display == 'none'){
            $("#search").show()
        }else{
            $("#search").hide()
        }

    }

    $("#search").keyup(function(event){
        if(event.keyCode ==13){
            window.location.href="/search?keycode="+$("#search").val();
        }
    });
</script>
<script>
    $(document).ready(function(){
        $(document).off('click.bs.dropdown.data-api');
    });
</script>
</body>
</html>