<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>余笙博客| 登录界面</title>
    <link href="/assets/css/potal/login.css" rel="stylesheet">

</head>
<body>
<div id="container" style="position: fixed">
    <div id="login-content">
        <h4>余笙博客,记录生活中的点点滴滴!</h4>
        <p>在博客中,可以畅所欲言,可以学习IT最新的知识！</p>
        <label>账号</label><br>
        <input type="text" placeholder="请输入账号" id="floginacct" th:value="${session.loginacct}"><br>
        <label>密码</label><br>
        <input type="password" placeholder="请输入密码" id="fuserpswd" th:value="${session.userpswd}"><br>
        <div id="login-login">
            <input type="checkbox" id="remember"  th:checked="${session.remember eq '0'}">记住密码两周
            <button id="checkLogin">登录</button>
        </div>
    </div>
    <div id="login-footer">
        <a href="/toRegister">注册</a> | <a href="/toForget">忘记密码</a><br><br>
        <a href="/">返回首页</a>
    </div>
</div>
</body>

<script src="/jquery/jQuery-2.1.4.min.js"></script>
<script src="/layer/layer.js"></script>
<script src="/jquery/jquery.form.js"></script>
<script src="js/login.js"></script>
</html>