
.container{
    width: 100%;
    clear: both;
    padding-bottom: 20px;
    margin-top: 15px;
}
/*左边*/
#cleft{
    width: 43%;
    float: left;
    border-radius: 4px;
}
.formgroup input{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
}
.formgroup select{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
}
.formfoot{
    width: 100%;
}
.formfoot .confirmbtn{
    background: #3498db;
    color: white;
    border:1px solid #ECEFF4 ;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.formfoot .confirmbtn:hover{
    background: #2980b9;
    color: white;
    border:1px solid #ECEFF4 ;
    border-radius: 5px;

}
.formfoot .updatebtn{
    background: #3498db;
    color: white;
    border:1px solid #ECEFF4 ;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.formfoot .pdatebtn:hover{
    background: #2980b9;
    color: white;
    border:1px solid #ECEFF4 ;

}
.invalid{
    background: #bdc3c7;
    color: black;
    border:1px solid #ECEFF4 ;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*y右边*/
#crigth{
    background: white;
    width: 55%;
    float: right;
    border-radius: 4px;
}
#rtable{
    padding: 10px;
}
#rtable table{
    width: 100%;
}
#rtable table tr{
    width: 100%;
    border-bottom: 1px solid #ECEFF4;
    color: black;
}
#rtable table tr:hover{
    background: #ecf0f1;
}
#rtable table tr td{
    color: black;
}
#rtable table tr td button{
    float: left;
    margin-right: 10px;
}
#rtable table tr td .modifybtn{
    background: #3498db;
    color: white;
    border: 1px solid #ECEFF4;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#rtable table tr td .modifybtn:hover{
    background: #2980b9;
}
#rtable table tr td .delbtn{
    background: #e74c3c;
    color: white;
    border: 1px solid #ECEFF4;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#rtable table tr td .delbtn:hover{
    background: #c0392b;
}
